<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head_dashboard">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <!-- FontAwesome 4.7.0 -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          th:href="@{/css/font-awesome/4.7.0/css/font-awesome.min.css}"
          rel="stylesheet" media="screen" />

    <!-- Ionicons 2.0.1 -->
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
          th:href="@{/css/ionicons/2.0.1/css/ionicons.min.css}"
          rel="stylesheet" media="screen" />

    <link href="../../static/css/adminLTE/AdminLTE.min.css"
          th:href="@{/css/adminLTE/AdminLTE.min.css}" rel="stylesheet" media="screen"/>

    <link href="../../static/css/adminLTE/skins/_all-skins.min.css"
          th:href="@{/css/adminLTE/skins/_all-skins.min.css}" rel="stylesheet" media="screen"/>

    <!-- here to override the background color set in all-skins.min.css when we use a skin color -->
    <link href="../../static/css/theme1.css"
          th:href="@{/css/theme1.css}" rel="stylesheet" media="screen"/>

    <!-- iCheck -->
    <link href="../../static/plugins/iCheck/flat/blue.css"
          th:href="@{/plugins/iCheck/flat/blue.css}" rel="stylesheet" type="text/css" />
    <!-- Morris chart -->
    <link href="../../static/plugins/morris/morris.css"
          th:href="@{/plugins/morris/morris.css}" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->
    <link href="../../static/plugins/jvectormap/jquery-jvectormap-1.2.2.css"
          th:href="@{/plugins/jvectormap/jquery-jvectormap-1.2.2.css}" rel="stylesheet" type="text/css" />
    <!-- Date Picker -->
    <link href="../../static/plugins/datepicker/datepicker3.css"
          th:href="@{/plugins/datepicker/datepicker3.css}" rel="stylesheet" type="text/css" />
    <!-- Daterange picker -->
    <link href="../../static/plugins/daterangepicker/daterangepicker-bs3.css"
          th:href="@{/plugins/daterangepicker/daterangepicker-bs3.css}" rel="stylesheet" type="text/css" />
    <!-- bootstrap wysihtml5 - text editor -->
    <link href="../../static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css"
          th:href="@{/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css}" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

</body>
</html>