<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>PME +</title>
    <!--/*/ <th:block th:include="fragments/headerinc_dashboard :: head_dashboard"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header_fixed_top :: header_fixed_top_home"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/header_fixed_top :: body_jumbotron"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/adminLTE :: dashboard_scripts"></th:block> /*/-->
</div>
</body>
</html>