<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>PME +</title>
    <!--/*/ <th:block th:include="fragments/headerinc_dashboard :: head_dashboard"></th:block> /*/-->
</head>
<body class="skin-blue">
<div class="wrapper">
    <!--/*/ <th:block th:include="fragments/header_fixed_top :: header_fixed_top_products"></th:block> /*/-->

    <h2>Shop Details</h2>
    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Product Id:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${product.idProduct}">Product Id</p></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${product.name}">Name</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Category:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${product.category}">Category</p>
                </div>
            </div>
        </form>
    </div>
    <!--/*/ <th:block th:include="fragments/adminLTE :: dashboard_scripts"></th:block> /*/-->
</div>

</body>
</html>